
body {
    font-family: helvetica, arial, sans-serif;
}

h1 {
    color: blue;
    text-align: center;
}

#page {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
    height: 100%;
}

#left-container {
    background-color: #eee;
    width: 15%; 
    left: 0px;
    top: 0px;
    position: absolute;
    height: 100vh;
    padding: 10px;

    display: flex;
    flex-direction: column;

    order: 1;
}

#right-container {
    background-color: #eee;
    width: 15%;
    right: 0px; 
    top: 0px; 
    position: absolute; 
    height: 100vh;
    padding: 10px;

    display: flex;
    flex-direction: column;
    order: 3;
}

#terrarium {
    margin-top: 111px;
    flex-grow: 2;
    background-color: #fff;
    order: 2
 
}

.plant-holder {
    position: relative;
    height: 13%;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plant {
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}

.dirt {
    width: 60%;
    height: 5%;
    background: #3a241d;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
}

.jar-walls {
    height: 80%;
    width: 60%;
    background: #d1e1df;
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
}

.jar-top {
    width: 50%;
    height: 5%;
    background: #d1e1df;
    position: absolute;
    bottom: 80.5%;
    left: 25%;
    opacity: 0.7;
    z-index: 1;
}

.jar-bottom {
    width: 50%;
    height: 1%;
    background: #d1e1df;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
}

.jar-glossy-long, .jar-glossy-short {
    position: absolute;
    background-color: #e3fcff;
    border-radius: 16px;
    opacity: 0.5;
    left: 10%;
    width: 15px;
    z-index: 5;

}

.jar-glossy-short {
    height: 5%;
    bottom: 65%;
}

.jar-glossy-long {
    height: 40%;
    bottom: 20%;
}

